.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.center-form Form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.center-form Form .Label {
  font-weight: bold;
}
.center-form Form .form-control {
  margin-bottom: 20px;
  padding: 10px;
}
.center-form Form .btn {
  background-color: #1877f2;
  border: none;
  color: #fff;
  padding: 10px 0;
}
.center-form Form .btn:hover {
  background-color: #166fe5;
}
